/* Colors:

  light grey: #DFDAB0;
  lighter grey-green-blue: #6F9483;
  mid grey-blue: #446165;
  dark-purple: #2B2129;
  lime: #AAB825; */

  $contrast: #DBD820;
  $bkg: #fff;
  $hdr-bkg: #545A5A;
  $body-bkg: #FFF;
  $text: #000;

/* Reset */

header, body, section, h1, h2, h3, p, ul, li, a, em {
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul, li {
  list-style: none;
}

/* general styles */

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 4px solid $hdr-bkg;
}

.group::after {
  content: "";
  clear: both;
  display: block;
}

section.hide {
  display: none;
}

section.vanish {
  opacity: 0;
  transition: opacity 400ms linear;
  z-index: 0;
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 400ms linear;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin: 10px 0;
}

h4 {
  display: block;
  text-align: center;
  margin: 0;
}

body {
  color: $text;
  background: $bkg;
}

/* page layout */

.head-container {
  display: block;
}

.page-header {
  // background: $hdr-bkg;
  background-image: url("../images/chalkboard-black.jpg");
  font-family: 'Playfair Display';
  display: block;
  height: 240px;
  width: 840px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-top: 4px solid $contrast;
  border-right: 4px solid $contrast;
  border-left: 4px solid $contrast;
  border-bottom: 2px solid $contrast;

}

.main {
  margin: auto;
  position: relative;
  height: 600px;
  width: 860px;
  padding: 20px;
  background: $body-bkg;
  overflow: hidden;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom: 4px solid $hdr-bkg;
  border-left: 4px solid $hdr-bkg;
  border-right: 4px solid $hdr-bkg;
  border-top: 2px solid $contrast;

}

.page {
  display: block;
  float: left;
  height: 650px;
  width: 900px;
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.about {
  top: 0;
  left: 0;
}

.projects {
  top: 0;
  left: 1000px;
}

.out {
  left: -1000px;
  transition: left 500ms linear;
}

.in {
  left: 0;
  transition: left 500ms linear;
}

.reset {
  left: 1000px;
}

/* header */

.header-name {
  width: 505px;
  display: block;
  margin: 20px auto;
}

h1 {
  width: 840px;
  display: inline;
  font-size: 64px;
  text-align: center;
  margin-bottom: 40px;
  color:$body-bkg;
  vertical-align: 35%;


    em {
    font-size: 96px;
    vertical-align: bottom;
    color: $contrast;
    }

}

.contact-item {
  display: block;
  float: right;
  padding: 4px 6px;
  border-radius: 50%;
  border: 2px solid $contrast;
  margin: 6px;
  background: $body-bkg;
}

.contact-item:hover {
  background: $contrast;
  border: 2px solid $bkg;
}

.header-nav {
  display: block;
  float: left;
}


.header-nav-item {
  display: block;
  float: left;
  padding: 6px 10px;
  border: 2px solid $contrast;
  border-radius: 20px;
  margin: 6px;
  background: $body-bkg;
}

.header-nav-item:hover {
  background: $contrast;
  border: 2px solid $bkg;
}

/* about  page */

.circles {
  display: block;
  float: left;
  width: 160px;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 40px;
}

.single-pic {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: block;
  margin: 12px 30px;
  float: left;
}

.circle {
  display: block;
  float: left;
  height: 164px;
  width: 164px;
  border-radius: 50%;
  background: $contrast;
  margin: 12px 30px;

}

.about-section {
  display: block;
  float: right;
  margin: 90px;
  width: 500px;
  font-size: 20px;
}

.about-para {
  padding: 10px 0;
}

.about-para:after {
  font-family: "FontAwesome";
  display: block;
  content: "\f013";
  text-align: center;
  margin-left: -60px;
  padding-top: 10px;
  color: $hdr-bkg;
}

.about-para:last-child:after {
  content: "";
}

/* projects display page */

.project-index {
  padding: 10px 60px;
  width: 780px;
}

.project-link:hover {
  color: $contrast;
}

.project-link img:hover {
  border-color: $contrast;
}

.project-item {
  display: block;
  float: left;
  width: 370px;
  padding: 10px;
  margin: auto;

}

.links {
  display: block;
  text-align: center;
}

.links a:hover {
  color: $contrast;
}

.project-header {
  display: block;
  float: left;
  text-align: center;
  width: 470px;
  font-size: 48px;
  font-weight: bold;

}

.project-text {
  display: block;
  width: 590px;
  float: left;
  padding: 20px 40px;
}

.back-link {
  display: block;
  float: right;
  padding: 8px 20px;
  border: 2px solid $text;
  border-radius: 25px;
  font-size: 24px;
  width: 50px;
}

.back-link:hover {
  background: $hdr-bkg;
  color: $bkg;
}

.description {
  display: block;
  float: left;
  margin: 20px 60px;
  width: 500px;
  font-size: 22px;
}

.feature-header {
  font-size: 36px;
}

.feature-text {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}


.feature-text:before {
  font-family: "FontAwesome";
  content: "\f013";
  padding-right: 5px;
  color: $hdr-bkg;
}
